body {
  padding-top: 50px;
  text-align:center;
  background-image:url(../background.png);
}

.nav {
	float:left;
	position:relative;
	left: 25%;
}

img {
	margin-bottom:20px;
}

@media (max-width: 768px) {
	.nav {
		float:left;
		position:relative;
		left: 40%;
	}
}

@media (max-width: 400px) {
	.nav {
		float:left;
		position:relative;
		left: 25%;
	}
}

@media (min-width: 768px) and (max-width: 990px) {
	.nav {
		float:left;
		position:relative;
		left: 12%;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.nav {
		float:left;
		position:relative;
		left: 25%;
	}
}